:root {
  --primary: #310a90;
  --green: #42e2b8;
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%);
  --white: #ffffff;
  --gradient: linear-gradient(45deg, #72edf2 0%, #5151e5 100%);
  --headline1: 700 5.9375rem/9.6068754196167rem Poppins;
  --headline2: 700 3.6875rem/5.96637487411499rem Poppins;
  --headline3: 700 3rem/4.854000091552734rem Poppins;
  --headline4: 700 2.125rem/3.4382500648498535rem Poppins;
  --headline5: 700 1.5rem/2.427000045776367rem Poppins;
  --body1: 400 1rem/1.6180000305175781rem Poppins;
  --body2: 400 0.875rem/1.4157500267028809rem Poppins;
  --button: 700 0.875rem/1.4157500267028809rem Poppins;
  --caption: 400 0.75rem/1.2135000228881836rem Poppins;
}

body {
  background: var(--gradient);
  color: var(--primary);
  font: var(--body1);
  margin: 0;
}

.button {
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--white);
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button.is-secundary {
  background: unset;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.wrapper {
  max-inline-size: 1158px;
  margin: auto;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.header {
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}
.header .header-content {
  align-items: center;
  block-size: 80px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
}
.menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.menu ul a {
  color: var(--white);
  font: var(--button);
  text-decoration: none;
  text-transform: uppercase;
}
.menu ul a.is-active {
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}
.button-icon {
  background: var(--white);
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
.button-icon img {
  vertical-align: middle;
}

.social {
  display: flex;
  gap: 16px;
  padding-block-end: 24px;
}

.hero {
  padding-block-start: 16px;
}
.hero .hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .hero-image {
  text-align: center;
}
.hero .hero-image img {
  block-size: auto;
  max-inline-size: 100%;
}
.hero h1 {
  font: var(--headline3);
  margin: 0;
}
.hero h1 span:nth-of-type(1) {
  display: block;
  font: var(--headline5);
}

@media only screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 32px;
  }
  .hero .hero-description {
    order: 1;
    max-inline-size: 450px;
  }
  .hero .hero-image {
    flex: 1;
    order: 2;
    text-align: end;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-image img {
    block-size: 504px;
    inline-size: 500px;
  }
}
.coment {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-inline-size: 992px;
  padding-block-start: 40px;
  padding-block-end: 40px;
}
.coment p {
  font: var(--headline5);
  text-align: center;
}
.coment p:first-child {
  font-weight: 400;
}
.coment .down {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .coment {
    padding-block-start: 100px;
    padding-block-end: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .coment {
    padding-block-start: 200px;
    padding-block-end: 200px;
  }
  .coment p:first-child {
    font: var(--headline4);
    font-weight: 300;
  }
}
.title {
  align-self: flex-start;
  background: var(--primary);
  box-shadow: -4px 4px 0 var(--white);
  color: var(--white);
  font: var(--headline5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.project {
  padding-block-start: 80px;
  padding-block-end: 80px;
}
.project .project-image img {
  max-inline-size: 100%;
}
.project .project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .project {
    align-items: center;
    display: flex;
    gap: 32px;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .project .project-description {
    flex: 1;
  }
  .project:nth-child(odd) .project-image {
    flex: 1;
    order: 2;
    text-align: center;
  }
}
.testimony {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  border-radius: 24px;
  padding: 24px;
}
.testimony .testimony-user {
  text-align: center;
}
.testimony .testimony-description {
  font-weight: bold;
}
.testimony .testimony-description p:last-child {
  font: var(--body2);
  opacity: 50%;
}

@media only screen and (min-width: 768px) {
  .testimony {
    padding: 80px;
  }
  .testimony .testimony-user img {
    block-size: 80px;
    inline-size: 80px;
  }
  .testimony .testimony-description {
    font: var(--headline5);
    text-align: center;
  }
  .testimony .testimony-description p:last-child {
    font: var(--body1);
  }
}
@media only screen and (min-width: 1024px) {
  .testimony .testimony-description {
    font: var(--headline4);
  }
  .testimony .testimony-description p:last-child {
    font: var(--headline5);
  }
}
.form {
  margin-block-start: 80px;
  margin-block-end: 80px;
}
.form .form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 540px;
  margin: auto;
}
.form .form-content p {
  color: var(--white);
  margin: 0;
}
.form .form-content .title {
  margin: 0;
}
.form .form-content label {
  display: flex;
  flex-direction: column;
  font: var(--button);
}
.form .form-content .form-input {
  border: 2px solid #858c94;
  border-radius: 8px;
  font: var(--body1);
  margin-block-start: 8px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-block-end: 12px;
  padding-block-start: 12px;
}

@media only screen and (min-width: 768px) {
  .form p {
    text-align: center;
  }
  .form .title {
    align-self: stretch;
    text-align: center;
  }
}
.footer .footer-content {
  color: var(--white);
  text-align: center;
}
.footer .footer-content .social {
  justify-content: center;
  padding: 0;
}
.footer .footer-content .footer-logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer .footer-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-content .footer-logo {
    display: block;
  }
  .footer .footer-content .social {
    order: 3;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding-block-start: 40px;
    padding-block-end: 40px;
  }
  .footer .footer-copyright {
    display: flex;
    gap: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
