.button-icon {
  background: var(--white);
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  img {
    vertical-align: middle;
  }
}
