.button {
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--white);
  font: var(--button);
  padding: {
    inline-start: 24px;
    inline-end: 24px;
    block-start: 13px;
    block-end: 13px;
  }
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button.is-secundary {
  background: unset;
  border: 2px solid var(--primary);
  color: var(--primary);
}
