.menu {
  ul {
    display: flex;
    gap: 40px;
    list-style: none;

    a {
      color: var(--white);
      font: var(--button);
      text-decoration: none;
      text-transform: uppercase;
    }

    a.is-active {
      color: var(--primary);
    }
  }
}
