.menu {
  display: none;
  ul {
    display: flex;
    gap: 40px;
    list-style: none;

    a {
      color: var(--white);
      font: var(--button);
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: var(--primary);
        transition: 0.5s all ease-in-out;
      }
    }

    a.is-active {
      color: var(--primary);

      &:hover {
        transition: 0.5s all ease-in-out;
        opacity: 0.7;
      }
    }
  }
}

@media only screen and(min-width:768px) {
  .menu {
    display: block;
  }
}
