.project {
  padding-block-start: 80px;
  padding-block-end: 80px;

  .project-image img {
    max-inline-size: 100%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .project-button {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

@media only screen and(min-width:768px) {
  .project {
    align-items: center;
    display: flex;
    gap: 32px;
    padding-block-start: 80px;
    padding-block-end: 80px;

    .project-description {
      flex: 1;

      .project-button {
        flex-direction: row;

        .is-secundary {
          order: 2;
        }
      }
    }

    &:nth-child(odd) .project-image {
      flex: 1;
      order: 2;
      text-align: center;
    }
  }
}
